.form{
  display: flex;
  flex-direction: column;
  gap: 0.75;
}
.input1{
  border-width: 1px;
  border-style: solid;
  border-color: #4B5563;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.input2{
  border-width: 1px;
  border-style: solid;
  border-color: #4B5563;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}
.addtopicBtn{
  background-color: green;
  font-weight: 700;
  color: white;
  /* Padding */
padding-top: 0.75rem;      
padding-bottom: 0.75rem;  
padding-left: 1.5rem;  
padding-right: 1.5rem;  

width: fit-content;  
margin-top: 1rem;    

}